{% extends '/layout/header.html.twig' %}

{% block content %}
<br><br><br>
<h2>CLASSEMENT</h2>
<h4></h4>
{% set nbCharac = 0 %}
{% for charac in characters %}
    Nom: {{ c[nbCharac]['firstname'] }}  
    {% set nbCharac = nbCharac + 1 %}
    {{ c[nbCharac]['name'] }} - Nombre de WIN: {{ charac.nbWin }}</br>
    {% set nbCharac = nbCharac + 1 %}
{% endfor %}</br>
{% endblock %}