<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <!-- <link rel="stylesheet" href="style.css" />!-->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="../../assets/css/adminlte.css">
            <link rel="stylesheet" type="text/css" href="../../assets/css/adminlte.min.css">
        {% endblock %}

        <title>{% block title %}{% endblock %} - DAWA: Dark Age - Wanted Artefact</title>
    {% endblock %}
</head>

<body>
{% include '/layout/navigation.twig' %}
<div class="container">
    <div id="content">{% block content %}{% endblock %}</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>