{% include '/layout/header.html.twig' %}

<H1> Création de Personnage </H1>
<p>Bienvenu dans l'écran de création des personnages</p>
<h2>Choissisez : </h2>
<span class="creationPersonnage">
    <form action="createHero">
        <h3>Créer un Héro</h3>
        <input type="submit" value="Choisir">
    </form>
</span>
<span class="creationPersonnage">
    <form action="createMonstre">
        <h3>Créer un Monstre</h3>
        <input type="submit" value="Choisir">
    </form>
</span>

{% include '/layout/footer.html.twig' %}