{% include '/layout/header.html.twig' %}

<div class="container" style="padding-top: 3%">
    <h2 class="white-text center-align"> Création de Personnage </h2>
    {#<p>Bienvenu dans l'écran de création des personnages</p>#}
    {#<h2>Choissisez : </h2>#}
    {#<span class="creationPersonnage">#}
    {#<form action="createHero">#}
    {#<h3>Créer un Héro</h3>#}
    {#<input type="submit" value="Choisir">#}
    {#</form>#}
    {#</span>#}
    {#<span class="creationPersonnage">#}
    {#<form action="createMonster">#}
    {#<h3>Créer un Monstre</h3>#}
    {#<input type="submit" value="Choisir">#}
    {#</form>#}
    {#</span>#}
    <div class="card valign-wrapper">
        <div class="card-content">
            <span class="card-title" style="font-weight: bold;">Choissisez le type de charactère à créer</span>
            <div>
                <form action="createHero">
                    <h4>Créer un héro :</h4>
                    <input type="submit" value="Nouveau héro" class="green waves-effect waves-light btn">
                </form>
            </div>

            <div>
                <form action="createMonster">
                    <h4>Créer un monstre :</h4>
                    <input type="submit" value="Nouveau monstre" class="red waves-effect waves-light btn">
                </form>
            </div>
        </div>
    </div>
</div>

{% include '/layout/footer.html.twig' %}