{% include '/layout/header.html.twig' %}

<H1> Création des Héros</H1>
<p>Bienvenu dans l'écran de création des héros</p>
<h2>Choissisez : </h2>
<span class="creationHero">
    <form action="/createHero">
        <h3>Créer un Héro</h3>
        <input type="submit" value="Choisir">
    </form>
</span>


{% include '/layout/footer.html.twig' %}