{% include '/layout/header.html.twig' %}

<H1> Page de selection des champions </H1>

<br>
Hero 1 : Jean-Moule
Hero 2: Jean-Michel
Hero 3: Jean-Jacques

Monster 1 : Jean-Méchant
Monster 2: Jean-Machiavélique
Monster 3: Jean-Sadique

</br>



{% include '/layout/footer.html.twig' %}