{% include '/layout/header.html.twig' %}

<H1> Page de selection des champions </H1>

</br>

<h3> Choisissez votre Héros</h3>

{% for heros in hero %}
    {{ loop.index }} - {{ heros.firstname }} {{ heros.name }} <input type="submit" value="Choisir"> <br/>
{% endfor %}


<h3> Choisissez votre Monstre </h3>

Monster 1 : Jean-Méchant
<input type="submit" value="Choisir"> </br>

Monster 2: Jean-Machiavélique
<input type="submit" value="Choisir"> </br>

Monster 3: Jean-Sadique
<input type="submit" value="Choisir"> </br>




<form action="{{ path_for('fight')}}" method="post">
    <button type="submit"> fight !  </button>
</form>


{% include '/layout/footer.html.twig' %}