{% include '/layout/header.html.twig' %}

<H1> Page de selection des champions </H1>

</br>

<h3> Choisissez votre Héros</h3>

Hero 1 : Jean-Moule
<input type="submit" value="Choisir"> </br>

Hero 2: Jean-Michel
<input type="submit" value="Choisir"> </br>

Hero 3: Jean-Jacques
<input type="submit" value="Choisir"> </br></br>


<h3> Choisissez votre Monstre </h3>

Monster 1 : Jean-Méchant
<input type="submit" value="Choisir"> </br>

Monster 2: Jean-Machiavélique
<input type="submit" value="Choisir"> </br>

Monster 3: Jean-Sadique
<input type="submit" value="Choisir"> </br>





{% include '/layout/footer.html.twig' %}