{% include '/layout/header.html.twig' %}

<H1> Page de tabassage de noobs </H1>

<h3> Les héros sont </h3>

Hero 1 : Jean-Moule
<input type="submit" value="Choisir">

<h3> Les méchants sont </h3>

Monster 1 : Jean-Méchant
<input type="submit" value="Choisir">

{% include '/layout/footer.html.twig' %}