{#{% include '/layout/header.html.twig' %}#}

<div class="container white-text">
        {% for hero in heros %}
            <div>{{ hero.firstname }}</div>
        {% endfor %}

        {% for monstre in monstres %}
            <div>{{ monstre.name }}</div>
        {% endfor %}
</div>

{#{% include '/layout/footer.html.twig' %}#}