{% include '/layout/header.html.twig' %}

<div class="container" style="padding-top: 3%">

    <h2 class="white-text center-align">Préparez-vous au combat !</h2>

    {#BLOC HEROS#}
    <div>
        <h4 class="left-align green-text" style="font-weight: bold;"> Choisissez le(s) héro(s) que vous envoyez au
            combat</h4>
        <div class="card valign-wrapper">
            <div class="card-content">
                <div class="col s12 m7">
                    <div class="row valign-wrapper">
                        <div class="card horizontal" style="width: 256px">
                            <div class="card-image center-block center">
                                <img style="width: 256px" src="../../public/assets/img/characters/hero.png"
                                     alt="Un héro">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h5> Jean-Michel </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt
                                        ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                                <div class="card-action">
                                    <a class="green waves-effect waves-light btn"
                                       style="height: 50%; line-height: 2; font-weight: bold;">Envoyer
                                        ce héro au combat</a>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card horizontal" style="width: 256px">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        Points de vie
                                        <div class="progress">
                                            <div class="green determinate" style="width: 70%"></div>
                                        </div>
                                        Force
                                        <div class="progress">
                                            <div class="green determinate" style="width: 70%"></div>
                                        </div>
                                        Agilité
                                        <div class="progress">
                                            <div class="green determinate" style="width: 70%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row valign-wrapper">
                        <div class="card horizontal" style="width: 256px">
                            <div class="card-image center-block center">
                                <img style="width: 256px" src="../../public/assets/img/characters/hero.png"
                                     alt="Un héro">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h5> Jean-Michel </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt
                                        ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                                <div class="card-action">
                                    <a class="green waves-effect waves-light btn"
                                       style="height: 50%; line-height: 2; font-weight: bold;">Envoyer
                                        ce héro au combat</a>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card horizontal" style="width: 256px">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        Points de vie
                                        <div class="progress">
                                            <div class="green determinate" style="width: 70%"></div>
                                        </div>
                                        Force
                                        <div class="progress">
                                            <div class="green determinate" style="width: 70%"></div>
                                        </div>
                                        Agilité
                                        <div class="progress">
                                            <div class="green determinate" style="width: 70%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#FIN BLOC HEROS#}

    {#BLOC MONSTRES#}
    <div>
        <h4 class="left-align red-text" style="font-weight: bold;"> Choisissez le(s) monstre(s) que vous envoyez au
            combat</h4>
        <div class="card valign-wrapper">
            <div class="card-content">
                <div class="col s12 m7">
                    <div class="row valign-wrapper">
                        <div class="card horizontal" style="width: 256px">
                            <div class="card-image center-block center">
                                <img style="width: 256px" src="../../public/assets/img/characters/monstre.png"
                                     alt="Un héro">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h5> Jean-Michel </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt
                                        ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                                <div class="card-action">
                                    <a class="red waves-effect waves-light btn"
                                       style="height: 50%; line-height: 2; font-weight: bold;">Envoyer
                                        ce monstre au combat</a>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card horizontal" style="width: 256px">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        Points de vie
                                        <div class="progress">
                                            <div class="red determinate" style="width: 70%"></div>
                                        </div>
                                        Force
                                        <div class="progress">
                                            <div class="red determinate" style="width: 70%"></div>
                                        </div>
                                        Agilité
                                        <div class="progress">
                                            <div class="red determinate" style="width: 70%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row valign-wrapper">
                        <div class="card horizontal" style="width: 256px">
                            <div class="card-image center-block center">
                                <img style="width: 256px" src="../../public/assets/img/characters/monstre.png"
                                     alt="Un héro">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h5> Jean-Michel </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt
                                        ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                                <div class="card-action">
                                    <a class="red waves-effect waves-light btn"
                                       style="height: 50%; line-height: 2; font-weight: bold;">Envoyer
                                        ce monstre au combat</a>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card horizontal" style="width: 256px">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        Points de vie
                                        <div class="progress">
                                            <div class="red determinate" style="width: 70%"></div>
                                        </div>
                                        Force
                                        <div class="progress">
                                            <div class="red determinate" style="width: 70%"></div>
                                        </div>
                                        Agilité
                                        <div class="progress">
                                            <div class="red determinate" style="width: 70%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#FIN BLOC MONSTRES#}

    <a class="waves-effect waves-light btn-large" style="width: 100%; font-weight: bold;">Cliquez ici pour lancer le combat</a>
</div>
{% include '/layout/footer.html.twig' %}